body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(181, 183, 184);
}
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-self: center;
    height: 100dvh;
    
}
#dash{
    font-family: 'Unbounded', sans-serif;
    text-align: center;
    color: rgb(25, 27, 25);
}


.dice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    gap: 40px;
    padding: 40px;
    padding-top: 25px;
    border: 2px dashed grey;
    border-radius: 20px;
    background-color: rgb(153, 234, 153);
}
.player{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 150px;
    font-family: 'Unbounded', sans-serif;
    color: rgb(4, 142, 4);
}
h2{
    text-align: center;
}

.dice{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr ;
    height: 100%;
    border: 5px solid rgb(151, 149, 149);
    margin: 15px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(233, 37, 37);   
}
.faces{
    height: 50%;
    width: 50%;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    background-color: rgb(253, 249, 249);
}
.btn{
    height: 5%;
    border-radius: 20px;
    margin-top: 10px;
    background-color: rgb(18, 87, 18);
    border:none;
    color: greenyellow;
}
footer{
    margin-top: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.d{
    visibility: hidden;
}







